# MongoDb Python

In [1]:
import pymongo

client=pymongo.MongoClient('mongodb://127.0.0.1:27017/')

mydb=client['OFFICE']
empinfo=mydb.employeeinformation

In [2]:
client.list_database_names()

['Employee', 'OFFICE', 'Students', 'admin', 'config', 'local']

In [3]:

client

MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True)

In [4]:
DB_NAME = "Employee"

In [5]:
# Create a DB
dataBase = client[DB_NAME]

In [6]:
# let's verify whether we have our database in the list or not 
# we'll use the following function:-

def checkExistence_DB(DB_NAME, client):
    """It verifies the existence of DB"""
    DBlist = client.list_database_names()
    if DB_NAME in DBlist:
        print(f"DB: '{DB_NAME}' exists")
        return True
    print(f"DB: '{DB_NAME}' not yet present OR no collection is present in the DB")
    return False


_ = checkExistence_DB(DB_NAME=DB_NAME, client=client)

DB: 'Employee' exists

In [7]:
COLLECTION_NAME = "employeeinformation"
collection = dataBase[COLLECTION_NAME]

In [8]:

# let's verify whether we have our database in the list or not 
# we'll use the following function:-

def checkExistence_COL(COLLECTION_NAME, DB_NAME, db):
    """It verifies the existence of collection name in a database"""
    collection_list = db.list_collection_names()
    
    if COLLECTION_NAME in collection_list:
        print(f"Collection:'{COLLECTION_NAME}' in Database:'{DB_NAME}' exists")
        return True
    
    print(f"Collection:'{COLLECTION_NAME}' in Database:'{DB_NAME}' does not exists OR \n\
    no documents are present in the collection")
    return False


_ = checkExistence_COL(COLLECTION_NAME=COLLECTION_NAME, DB_NAME=DB_NAME, db=dataBase)

Collection:'employeeinformation' in Database:'Employee' exists

# Insert Single Data

In [9]:

record={
        'firstname':'Krishna',
        'lastname':'More',
        'department':'Analytics',
        'qualification':'BE',
        'age':21
        }
empinfo.insert_one(record)

# Insert Multiple Data

In [10]:
records=[{
        'firstname':'John',
        'lastname':'Doe',
        'department':'Analytics',
        'qualification':'statistics',
        'age':35
        
        },
         {
        'firstname':'John ',
        'lastname':'Smith',
        'department':'Analytics',
        'qualification':'masters',
        'age':30
        
        },
        {
        'firstname':'Manish',
        'lastname':'Sen',
        'department':'Analytics',
        'qualification':'phd',
        'age':34
        
        },
        {
        'firstname':'Ram',
        'lastname':'Singh',
        'department':'Analytics',
        'qualification':'master',
        'age':32
        
        }]

In [11]:
empinfo.insert_many(records)

In [12]:
print(empinfo)

Collection(Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'OFFICE'), 'employeeinformation')

### Queries

In [13]:
## Simple way of querying
empinfo.find_one()

{'_id': ObjectId('60a1543096ecc5d093b0f5dd'),
 'firstname': 'Krishna',
 'lastname': 'More',
 'department': 'Analytics',
 'qualification': 'BE',
 'age': 21}

In [14]:
for x in empinfo.find():
  print(x)

{'_id': ObjectId('60a1543096ecc5d093b0f5dd'), 'firstname': 'Krishna', 'lastname': 'More', 'department': 'Analytics', 'qualification': 'BE', 'age': 21}
{'_id': ObjectId('60a1543396ecc5d093b0f5de'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('60a1543396ecc5d093b0f5df'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('60a1543396ecc5d093b0f5e0'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('60a1543396ecc5d093b0f5e1'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}
{'_id': ObjectId('60a159a996ecc5d093b0f5e7'), 'firstname': 'Krishna', 'lastname': 'More', 'department': 'Analytics', 'qualification': 'BE', 'age': 21}
{'_id': ObjectId('60a159ab96ecc5d093b0f5e8'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('60a159ab96ecc5d093b0f5e9'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('60a159ab96ecc5d093b0f5ea'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('60a159ab96ecc5d093b0f5eb'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}
{'_id': ObjectId('60a15be215cd3bb591a22bd3'), 'firstname': 'Krishna', 'lastname': 'More', 'department': 'Analytics', 'qualification': 'BE', 'age': 21}
{'_id': ObjectId('60a15be415cd3bb591a22bd4'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('60a15be415cd3bb591a22bd5'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('60a15be415cd3bb591a22bd6'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('60a15be415cd3bb591a22bd7'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}
{'_id': ObjectId('60a160745e0a55bbb88ce283'), 'firstname': 'Krishna', 'lastname': 'More', 'department': 'Analytics', 'qualification': 'BE', 'age': 21}
{'_id': ObjectId('60a160745e0a55bbb88ce284'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('60a160745e0a55bbb88ce285'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('60a160745e0a55bbb88ce286'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('60a160745e0a55bbb88ce287'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [15]:
## Select * from employeeinformation
for record in empinfo.find({}):
    print(record)

{'_id': ObjectId('60a1543096ecc5d093b0f5dd'), 'firstname': 'Krishna', 'lastname': 'More', 'department': 'Analytics', 'qualification': 'BE', 'age': 21}
{'_id': ObjectId('60a1543396ecc5d093b0f5de'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('60a1543396ecc5d093b0f5df'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('60a1543396ecc5d093b0f5e0'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('60a1543396ecc5d093b0f5e1'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}
{'_id': ObjectId('60a159a996ecc5d093b0f5e7'), 'firstname': 'Krishna', 'lastname': 'More', 'department': 'Analytics', 'qualification': 'BE', 'age': 21}
{'_id': ObjectId('60a159ab96ecc5d093b0f5e8'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('60a159ab96ecc5d093b0f5e9'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('60a159ab96ecc5d093b0f5ea'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('60a159ab96ecc5d093b0f5eb'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}
{'_id': ObjectId('60a15be215cd3bb591a22bd3'), 'firstname': 'Krishna', 'lastname': 'More', 'department': 'Analytics', 'qualification': 'BE', 'age': 21}
{'_id': ObjectId('60a15be415cd3bb591a22bd4'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('60a15be415cd3bb591a22bd5'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('60a15be415cd3bb591a22bd6'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('60a15be415cd3bb591a22bd7'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}
{'_id': ObjectId('60a160745e0a55bbb88ce283'), 'firstname': 'Krishna', 'lastname': 'More', 'department': 'Analytics', 'qualification': 'BE', 'age': 21}
{'_id': ObjectId('60a160745e0a55bbb88ce284'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('60a160745e0a55bbb88ce285'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('60a160745e0a55bbb88ce286'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('60a160745e0a55bbb88ce287'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [16]:
for x in empinfo.find({},{ 'firstname': 'Manish', 'lastname': 'Sen'}):
  print(x)

{'_id': ObjectId('60a1543096ecc5d093b0f5dd'), 'firstname': 'Manish', 'lastname': 'Sen'}
{'_id': ObjectId('60a1543396ecc5d093b0f5de'), 'firstname': 'Manish', 'lastname': 'Sen'}
{'_id': ObjectId('60a1543396ecc5d093b0f5df'), 'firstname': 'Manish', 'lastname': 'Sen'}
{'_id': ObjectId('60a1543396ecc5d093b0f5e0'), 'firstname': 'Manish', 'lastname': 'Sen'}
{'_id': ObjectId('60a1543396ecc5d093b0f5e1'), 'firstname': 'Manish', 'lastname': 'Sen'}
{'_id': ObjectId('60a159a996ecc5d093b0f5e7'), 'firstname': 'Manish', 'lastname': 'Sen'}
{'_id': ObjectId('60a159ab96ecc5d093b0f5e8'), 'firstname': 'Manish', 'lastname': 'Sen'}
{'_id': ObjectId('60a159ab96ecc5d093b0f5e9'), 'firstname': 'Manish', 'lastname': 'Sen'}
{'_id': ObjectId('60a159ab96ecc5d093b0f5ea'), 'firstname': 'Manish', 'lastname': 'Sen'}
{'_id': ObjectId('60a159ab96ecc5d093b0f5eb'), 'firstname': 'Manish', 'lastname': 'Sen'}
{'_id': ObjectId('60a15be215cd3bb591a22bd3'), 'firstname': 'Manish', 'lastname': 'Sen'}
{'_id': ObjectId('60a15be415cd3bb591a22bd4'), 'firstname': 'Manish', 'lastname': 'Sen'}
{'_id': ObjectId('60a15be415cd3bb591a22bd5'), 'firstname': 'Manish', 'lastname': 'Sen'}
{'_id': ObjectId('60a15be415cd3bb591a22bd6'), 'firstname': 'Manish', 'lastname': 'Sen'}
{'_id': ObjectId('60a15be415cd3bb591a22bd7'), 'firstname': 'Manish', 'lastname': 'Sen'}
{'_id': ObjectId('60a160745e0a55bbb88ce283'), 'firstname': 'Manish', 'lastname': 'Sen'}
{'_id': ObjectId('60a160745e0a55bbb88ce284'), 'firstname': 'Manish', 'lastname': 'Sen'}
{'_id': ObjectId('60a160745e0a55bbb88ce285'), 'firstname': 'Manish', 'lastname': 'Sen'}
{'_id': ObjectId('60a160745e0a55bbb88ce286'), 'firstname': 'Manish', 'lastname': 'Sen'}
{'_id': ObjectId('60a160745e0a55bbb88ce287'), 'firstname': 'Manish', 'lastname': 'Sen'}

In [17]:
# Select * from employeeinformation where firstname=krishna

for record in empinfo.find({'firstname':'Krishna'}):
    print(record)

{'_id': ObjectId('60a1543096ecc5d093b0f5dd'), 'firstname': 'Krishna', 'lastname': 'More', 'department': 'Analytics', 'qualification': 'BE', 'age': 21}
{'_id': ObjectId('60a159a996ecc5d093b0f5e7'), 'firstname': 'Krishna', 'lastname': 'More', 'department': 'Analytics', 'qualification': 'BE', 'age': 21}
{'_id': ObjectId('60a15be215cd3bb591a22bd3'), 'firstname': 'Krishna', 'lastname': 'More', 'department': 'Analytics', 'qualification': 'BE', 'age': 21}
{'_id': ObjectId('60a160745e0a55bbb88ce283'), 'firstname': 'Krishna', 'lastname': 'More', 'department': 'Analytics', 'qualification': 'BE', 'age': 21}

In [18]:
## Query documents using query operators($in,$lt,$gt)
# $lt less than
# $gt greater than
# $in in 
for record in empinfo.find({'qualification':{'$in':['phd','master']}}):
    print(record)

{'_id': ObjectId('60a1543396ecc5d093b0f5e0'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('60a1543396ecc5d093b0f5e1'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}
{'_id': ObjectId('60a159ab96ecc5d093b0f5ea'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('60a159ab96ecc5d093b0f5eb'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}
{'_id': ObjectId('60a15be415cd3bb591a22bd6'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('60a15be415cd3bb591a22bd7'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}
{'_id': ObjectId('60a160745e0a55bbb88ce286'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('60a160745e0a55bbb88ce287'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [19]:

## And and Query operators
for record in empinfo.find({'qualification':'master','age':{'$lt':35}}):
    print(record)

{'_id': ObjectId('60a1543396ecc5d093b0f5e1'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}
{'_id': ObjectId('60a159ab96ecc5d093b0f5eb'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}
{'_id': ObjectId('60a15be415cd3bb591a22bd7'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}
{'_id': ObjectId('60a160745e0a55bbb88ce287'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [20]:
for record in empinfo.find({'$or':[{'firstname':'Krishna'},{'qualification':'BE'}]}):
    print(record)

{'_id': ObjectId('60a1543096ecc5d093b0f5dd'), 'firstname': 'Krishna', 'lastname': 'More', 'department': 'Analytics', 'qualification': 'BE', 'age': 21}
{'_id': ObjectId('60a159a996ecc5d093b0f5e7'), 'firstname': 'Krishna', 'lastname': 'More', 'department': 'Analytics', 'qualification': 'BE', 'age': 21}
{'_id': ObjectId('60a15be215cd3bb591a22bd3'), 'firstname': 'Krishna', 'lastname': 'More', 'department': 'Analytics', 'qualification': 'BE', 'age': 21}
{'_id': ObjectId('60a160745e0a55bbb88ce283'), 'firstname': 'Krishna', 'lastname': 'More', 'department': 'Analytics', 'qualification': 'BE', 'age': 21}

In [21]:
for record in empinfo.find({'$and':[{'firstname':'Krishna'},{'qualification':'BE'}]}):
    print(record)

{'_id': ObjectId('60a1543096ecc5d093b0f5dd'), 'firstname': 'Krishna', 'lastname': 'More', 'department': 'Analytics', 'qualification': 'BE', 'age': 21}
{'_id': ObjectId('60a159a996ecc5d093b0f5e7'), 'firstname': 'Krishna', 'lastname': 'More', 'department': 'Analytics', 'qualification': 'BE', 'age': 21}
{'_id': ObjectId('60a15be215cd3bb591a22bd3'), 'firstname': 'Krishna', 'lastname': 'More', 'department': 'Analytics', 'qualification': 'BE', 'age': 21}
{'_id': ObjectId('60a160745e0a55bbb88ce283'), 'firstname': 'Krishna', 'lastname': 'More', 'department': 'Analytics', 'qualification': 'BE', 'age': 21}

#### Ascending Sort

In [22]:
mydoc = empinfo.find().sort("age")
for x in mydoc:
  print(x)

{'_id': ObjectId('60a1543096ecc5d093b0f5dd'), 'firstname': 'Krishna', 'lastname': 'More', 'department': 'Analytics', 'qualification': 'BE', 'age': 21}
{'_id': ObjectId('60a159a996ecc5d093b0f5e7'), 'firstname': 'Krishna', 'lastname': 'More', 'department': 'Analytics', 'qualification': 'BE', 'age': 21}
{'_id': ObjectId('60a15be215cd3bb591a22bd3'), 'firstname': 'Krishna', 'lastname': 'More', 'department': 'Analytics', 'qualification': 'BE', 'age': 21}
{'_id': ObjectId('60a160745e0a55bbb88ce283'), 'firstname': 'Krishna', 'lastname': 'More', 'department': 'Analytics', 'qualification': 'BE', 'age': 21}
{'_id': ObjectId('60a1543396ecc5d093b0f5df'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('60a159ab96ecc5d093b0f5e9'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('60a15be415cd3bb591a22bd5'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('60a160745e0a55bbb88ce285'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('60a1543396ecc5d093b0f5e1'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}
{'_id': ObjectId('60a159ab96ecc5d093b0f5eb'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}
{'_id': ObjectId('60a15be415cd3bb591a22bd7'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}
{'_id': ObjectId('60a160745e0a55bbb88ce287'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}
{'_id': ObjectId('60a1543396ecc5d093b0f5e0'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('60a159ab96ecc5d093b0f5ea'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('60a15be415cd3bb591a22bd6'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('60a160745e0a55bbb88ce286'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('60a1543396ecc5d093b0f5de'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('60a159ab96ecc5d093b0f5e8'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('60a15be415cd3bb591a22bd4'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('60a160745e0a55bbb88ce284'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}

#### Descending Sort

In [23]:
mydoc = empinfo.find().sort("age", -1)

for x in mydoc:
  print(x)

{'_id': ObjectId('60a1543396ecc5d093b0f5de'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('60a159ab96ecc5d093b0f5e8'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('60a15be415cd3bb591a22bd4'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('60a160745e0a55bbb88ce284'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('60a1543396ecc5d093b0f5e0'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('60a159ab96ecc5d093b0f5ea'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('60a15be415cd3bb591a22bd6'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('60a160745e0a55bbb88ce286'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('60a1543396ecc5d093b0f5e1'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}
{'_id': ObjectId('60a159ab96ecc5d093b0f5eb'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}
{'_id': ObjectId('60a15be415cd3bb591a22bd7'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}
{'_id': ObjectId('60a160745e0a55bbb88ce287'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}
{'_id': ObjectId('60a1543396ecc5d093b0f5df'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('60a159ab96ecc5d093b0f5e9'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('60a15be415cd3bb591a22bd5'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('60a160745e0a55bbb88ce285'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('60a1543096ecc5d093b0f5dd'), 'firstname': 'Krishna', 'lastname': 'More', 'department': 'Analytics', 'qualification': 'BE', 'age': 21}
{'_id': ObjectId('60a159a996ecc5d093b0f5e7'), 'firstname': 'Krishna', 'lastname': 'More', 'department': 'Analytics', 'qualification': 'BE', 'age': 21}
{'_id': ObjectId('60a15be215cd3bb591a22bd3'), 'firstname': 'Krishna', 'lastname': 'More', 'department': 'Analytics', 'qualification': 'BE', 'age': 21}
{'_id': ObjectId('60a160745e0a55bbb88ce283'), 'firstname': 'Krishna', 'lastname': 'More', 'department': 'Analytics', 'qualification': 'BE', 'age': 21}

#### Mongodb Aggregate And Group

In [24]:
inventory=mydb.inventory

In [25]:
inventory.insert_many([
    {"item": "canvas",
     "qty": 100,
     "size": {"h": 28, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "journal",
     "qty": 25,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "mat",
     "qty": 85,
     "size": {"h": 27.9, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "mousepad",
     "qty": 25,
     "size": {"h": 19, "w": 22.85, "uom": "cm"},
     "status": "P"},
    {"item": "notebook",
     "qty": 50,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "P"},
    {"item": "paper",
     "qty": 100,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "D"},
    {"item": "planner",
     "qty": 75,
     "size": {"h": 22.85, "w": 30, "uom": "cm"},
     "status": "D"},
    {"item": "postcard",
     "qty": 45,
     "size": {"h": 10, "w": 15.25, "uom": "cm"},
     "status": "A"},
    {"item": "sketchbook",
     "qty": 80,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "sketch pad",
     "qty": 95,
     "size": {"h": 22.85, "w": 30.5, "uom": "cm"},
     "status": "A"}])

In [26]:

inventory.update_one(
{"item":"sketch pad"},
{"$set":{"size.uom":"m","status":"P"},
"$currentDate":{"lastModified":True}}
)

In [27]:
inventory.update_many(
    {"qty": {"$lt": 50}},
    {"$set": {"size.uom": "in", "status": "P"},
     "$currentDate": {"lastModified": True}})

In [28]:
inventory.replace_one(
    {"item": "paper"},
    {"item": "paper",
     "instock": [
         {"warehouse": "A", "qty": 60},
         {"warehouse": "B", "qty": 40}]})

In [29]:
from pymongo import MongoClient  
    
# creation of object MongoClient  
client=MongoClient()  
    
# Connect with the portnumber and host  
client = MongoClient("mongodb://localhost:27017/")  
    
# Access database  
mydatabase = client['Students']  
    
# Access collection of the database  
collection=mydatabase['studentscores']  
data = [ 
    {"user":"Krishna", "subject":"Database", "score":80}, 
    {"user":"Amit",  "subject":"JavaScript", "score":90}, 
    {"user":"Amit",  "title":"Database", "score":85}, 
    {"user":"Krish",  "title":"JavaScript", "score":75}, 
    {"user":"Amit",  "title":"Data Science", "score":60},
    {"user":"Krish",  "title":"Data Science", "score":95}] 
  
collection.insert_many(data)

In [30]:
### Find Amit And Krishna Total Subjects
agg_result= collection.aggregate( 
    [{ 
    "$group" :  
        {"_id" : "$user",  
         "Total Subject" : {"$sum" : 1} 
         }} 
    ])

In [31]:
for i in agg_result: 
    print(i)

{'_id': 'Amit', 'Total Subject': 9}
{'_id': 'Krish', 'Total Subject': 7}
{'_id': 'Krishna', 'Total Subject': 2}

In [32]:
### Calculating the total score based on user
agg_result= collection.aggregate( 
    [{ 
    "$group" :  
        {"_id" : "$user",  
         "Total Marks" : {"$sum" :"$score"} 
         }} 
    ]) 
for i in agg_result: 
    print(i)

{'_id': 'Krishna', 'Total Marks': 160}
{'_id': 'Krish', 'Total Marks': 590}
{'_id': 'Amit', 'Total Marks': 705}

In [33]:

### Calculating the average score based on user
agg_result=collection.aggregate([
   {
      "$group": {
         "_id": '$user',
         "StudentScoreAverage": {
            "$avg": "$score"
         }
      }
   }
])
for i in agg_result: 
    print(i)

{'_id': 'Amit', 'StudentScoreAverage': 78.33333333333333}
{'_id': 'Krish', 'StudentScoreAverage': 84.28571428571429}
{'_id': 'Krishna', 'StudentScoreAverage': 80.0}

In [34]:

import datetime as datetime

In [35]:
data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [38]:
### Calculating the average quantity And Average Price
agg_result=mycollection.aggregate([
   {
      "$group": {
         "_id": '$item',
         "avgAmount": {"$avg": {"$multiply": [ "$price", "$quantity" ]}},
          "avgQuantity": { "$avg": "$quantity" }
      }
   }
])
for i in agg_result: 
    print(i)

{'_id': 'jkl', 'avgAmount': 20.0, 'avgQuantity': 1.0}
{'_id': 'abc', 'avgAmount': 60.0, 'avgQuantity': 6.0}
{'_id': 'xyz', 'avgAmount': 37.5, 'avgQuantity': 7.5}

In [39]:
#### $Project

data=[{
  "_id" : 1,
  "title": "abc123",
  "isbn": "0001122223334",
  "author": { "last": "zzz", "first": "aaa" },
  "copies": 5
},
{
  "_id" : 2,
  "title": "Baked Goods",
  "isbn": "9999999999999",
  "author": { "last": "xyz", "first": "abc", "middle": "" },
  "copies": 2
}
]

In [40]:
# Access collection of the database  
collection=mydatabase['Books']

In [44]:
for row in collection.aggregate( [ { "$project": { "title": 1,"isbn":1 } } ] ):
    print(row)

{'_id': 1, 'title': 'abc123', 'isbn': '0001122223334'}
{'_id': 2, 'title': 'Baked Goods', 'isbn': '9999999999999'}

# Delete

In [45]:
mydb = client["OFFICE"]
mycol = mydb["employeeinformation"]

myquery = {'firstname':'Krish' }

mycol.delete_one(myquery)

# Drop

In [46]:
mydb = client["Employee"]
mycol = mydb["collection"]

mycol.drop()

# Limit the Result

In [47]:
mydb = client["OFFICE"]
mycol = mydb["employeeinformation"]

myresult = mycol.find().limit(5)

#print the result:
for x in myresult:
  print(x)

{'_id': ObjectId('60a1543096ecc5d093b0f5dd'), 'firstname': 'Krishna', 'lastname': 'More', 'department': 'Analytics', 'qualification': 'BE', 'age': 21}
{'_id': ObjectId('60a1543396ecc5d093b0f5de'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('60a1543396ecc5d093b0f5df'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('60a1543396ecc5d093b0f5e0'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('60a1543396ecc5d093b0f5e1'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}